@model EarlyYearsFoundationRecovery.Web.Models.CookieBannerViewModel

<div class="govuk-cookie-banner" data-nosnippet role="region" aria-label="Cookies on @Model.ServiceName">
    <div class="govuk-cookie-banner__message govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-cookie-banner__heading govuk-heading-m">Cookies on @Model.ServiceName</h2>
                <div class="govuk-cookie-banner__content">
                    <p class="govuk-body">We use some essential cookies to make this service work.</p>
                    <p class="govuk-body">We'd also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
                </div>
            </div>
        </div>
        <div class="govuk-button-group">
            <form method="post" action="/settings" id="cookie-banner-accept">
                @Html.AntiForgeryToken()
                <input type="hidden" name="TrackAnalytics" value="true" />
                <input type="hidden" name="RequestPath" value="@Model.RequestPath" />
                <button type="submit" class="govuk-button" data-module="govuk-button">Accept analytics cookies</button>
            </form>
            <form method="post" action="/settings" id="cookie-banner-reject">
                @Html.AntiForgeryToken()
                <input type="hidden" name="TrackAnalytics" value="false" />
                <input type="hidden" name="RequestPath" value="@Model.RequestPath" />
                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">Reject analytics cookies</button>
            </form>
            <a class="govuk-link" href="/settings/cookie-policy">Read the cookie policy</a>
        </div>
    </div>
</div>
