@model EarlyYearsFoundationRecovery.Web.Models.CloseAccountEditReasonViewModel
@using EarlyYearsFoundationRecovery.Application.CloseAccount
@{
    ViewData["Title"] = "Tell us why you want to close your account";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" action="/my-account/close/update-reason">
            @Html.AntiForgeryToken()

            @if (!ViewData.ModelState.IsValid)
            {
                <govuk-error-summary>
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <govuk-error-summary-item>@error.ErrorMessage</govuk-error-summary-item>
                    }
                </govuk-error-summary>
            }

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="closed-reason-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">Tell us why you want to close your account</h1>
                    </legend>
                    <div id="closed-reason-hint" class="govuk-hint">
                        Knowing why you want to close your account will help us improve the training for everyone.
                    </div>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="closed-reason-not-useful" name="ClosedReason" type="radio" value="@CloseAccountReasons.NotUseful" @(Model.ClosedReason == CloseAccountReasons.NotUseful ? "checked" : null) />
                            <label class="govuk-label govuk-radios__label" for="closed-reason-not-useful">I did not find the training useful</label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="closed-reason-no-time" name="ClosedReason" type="radio" value="@CloseAccountReasons.NoTime" @(Model.ClosedReason == CloseAccountReasons.NoTime ? "checked" : null) />
                            <label class="govuk-label govuk-radios__label" for="closed-reason-no-time">I did not have time to do the training</label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="closed-reason-no-longer" name="ClosedReason" type="radio" value="@CloseAccountReasons.NoLongerInEarlyYears" @(Model.ClosedReason == CloseAccountReasons.NoLongerInEarlyYears ? "checked" : null) />
                            <label class="govuk-label govuk-radios__label" for="closed-reason-no-longer">I no longer work in early years</label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="closed-reason-too-many-emails" name="ClosedReason" type="radio" value="@CloseAccountReasons.TooManyEmails" @(Model.ClosedReason == CloseAccountReasons.TooManyEmails ? "checked" : null) />
                            <label class="govuk-label govuk-radios__label" for="closed-reason-too-many-emails">You sent me too many emails</label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="closed-reason-other" name="ClosedReason" type="radio" value="@CloseAccountReasons.Other" data-aria-controls="closed-reason-other-conditional" @(Model.ClosedReason == CloseAccountReasons.Other ? "checked" : null) />
                            <label class="govuk-label govuk-radios__label" for="closed-reason-other">Another reason</label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="closed-reason-other-conditional">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="ClosedReasonCustom">Tell us why you want to close your account.</label>
                                <textarea class="govuk-textarea" id="ClosedReasonCustom" name="ClosedReasonCustom" rows="3">@Model.ClosedReasonCustom</textarea>
                            </div>
                        </div>
                        <div class="govuk-radios__divider">Or</div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="closed-reason-prefer-not-to-say" name="ClosedReason" type="radio" value="@CloseAccountReasons.PreferNotToSay" @(Model.ClosedReason == CloseAccountReasons.PreferNotToSay ? "checked" : null) />
                            <label class="govuk-label govuk-radios__label" for="closed-reason-prefer-not-to-say">Prefer not to say</label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>
