@model EarlyYearsFoundationRecovery.Web.Models.Registration.RoleTypeViewModel
@{
    ViewData["Title"] = "Your role";
}

@if (ViewData["BackLink"] is string backLink)
{
    <a class="govuk-back-link" href="@backLink">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="RoleType" method="post">
            @Html.AntiForgeryToken()

            @if (!ViewData.ModelState.IsValid)
            {
                <govuk-error-summary>
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <govuk-error-summary-item>@error.ErrorMessage</govuk-error-summary-item>
                    }
                </govuk-error-summary>
            }

            <h1 class="govuk-heading-l">Which of the following best describes your role?</h1>

            <govuk-radios for="RoleTypeId">
                <govuk-radios-fieldset legend="Your role">
                    @foreach (var option in Model.Options)
                    {
                        <govuk-radios-item value="@option.Id">
                            <govuk-radios-item-label>@option.Label</govuk-radios-item-label>
                            @if (!string.IsNullOrWhiteSpace(option.Hint))
                            {
                                <govuk-radios-item-hint>@option.Hint</govuk-radios-item-hint>
                            }
                        </govuk-radios-item>
                    }
                </govuk-radios-fieldset>
            </govuk-radios>

            <p class="govuk-body govuk-!-margin-top-4">
                <a class="govuk-link" href="/registration/role-type-other">I would describe my role in another way.</a>
            </p>

            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>
